<div id="<%= dom_id comment %>">
  <div class="comment-body">
    <h6><%= comment.user.username %></h6>
    <p class="text-wrap"><%= comment.body %>
      — <small><%= comment.commented_time_ago %></small>
    </p>
    <span class="hor-divider"></span>
  </div>
</div>
