<div id="<%= dom_id comment %>">
  <div class="comment-body">
    <p class="text-wrap"><%= comment.body %>
      — <small><%= comment.posted_time_passed.downcase.split(" ").drop(1).join(" ") %></small>
    </p>
    <span class="hor-divider"></span>
  </div>
</div>
