<div class="card shadow mb-3">
  <div class="card-body">
    <h3>Comments</h3>

    <div id="comments">
      <%= render post.comments.approved.by_recently_updated %>
    </div>

    <%= render "comments/new", post: post if current_user %>
  </div>
</div>
