<% if controller.action_name == "show" %>
  <div class="card shadow mb-3">
    <div class="card-body">
      <%= render "post_content", post: post %>
    </div>
  </div>
<% else %>
  <%= render "post_content", post: post %>
<% end %>
