<h1>Posts <%= link_to "New post", new_post_path %></h1>

<div id="posts">
  <% @posts.each do |post| %>
    <span class="hor-divider"></span>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>
