<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <span class="display-4 font-monospace mb-3 fw-bold">Posts</span>
  </div>

  <div id="posts">
    <% @posts.each do |post| %>
      <div class="card shadow mb-3">
        <div class="card-body">
          <%= render post %>
        </div>
      </div>
    <% end %>
  </div>
</div>
