<div class="d-flex justify-content-between align-items-center">
  <span class="display-4 font-monospace mb-3 fw-bold">Posts</span>
  <span><%= link_to "New post", new_post_path, class: "btn btn-outline-warning" %></span>
</div>

<div id="posts">
  <% @posts.each do |post| %>
    <span class="hor-divider"></span>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>
