<%= turbo_stream_from @post %>
<div class="container">
  <span class="d-inline-block display-4 font-monospace mb-3 fw-bold">Post</span>

  <%= render @post %>

  <%= render "posts/comments", post: @post %>

  <%= link_to "Back to posts", posts_path, class: "btn btn-secondary" %>
</div>
